/* ----------------------------------- *\
			structura
\* ----------------------------------- */
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: var(--min);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    width: 100vw;
    overflow-x: hidden;
}
html {
    //height: -webkit-fill-available;
}
.cnt-full-wrap {
    margin-left: calc(var(--paddingContainer) * -1);
    margin-right: calc(var(--paddingContainer) * -1);
    padding-left: var(--paddingContainer);
    padding-right: var(--paddingContainer);
}
.inner-wrap, .page-full {
	position: relative;
	clear: both;
	margin: 0 auto;
    padding-left: var(--paddingContainer);
    padding-right: var(--paddingContainer);
	min-width: var(--min);
	max-width: var(--max);
	width: 100%;
	.inner-wrap {
		min-width: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.cnt-section {
		min-width: 0;
	}
}
.page-full {
	flex: 1 0 auto;
}
.wrap, .footer {
	// -webkit-transform: translate3d(0,0,0);
}
.wrap,
.header,
.nav,
.footer,
.cnt-section {
	position: relative;
	clear: both;
	min-width: var(--min);
	width: 100%;
}
.wrap {
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    background: linear-gradient(to top, #121419, #1d1d22);
	&>.cnt-section {
		flex-shrink: 0;
	}
    &.wrap-clear {
        padding-top: 5rem;
        padding-bottom: 5rem;
        background: #1e1e22;
    }
    &.wrap-main {
        .header {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }
    }
    &.wrap-card {
        background: #1e1e22;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: url(../img/main/card.jpg) right top no-repeat;
            background-size: 82.3rem auto;
        }
    }
    &.wrap-catalog, &.wrap-price {
        background: #1e1e22;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -960px;
            width: 1920px;
            background: url(../img/main/catalog.jpg) center top no-repeat;
            background-size: 100% auto;
        }
    }
    &.wrap-price {
        &:before {
            background-image: url(../img/main/price.jpg);
        }
    }
}
.nav,
.header,
.footer {
	flex-shrink: 0;
	line-height: 1;
	text-align: left;
	ul, li, p {
		margin: 0;
		padding: 0;
		&:before {
			display: none;
		}
	}
	a {
		text-decoration: none;
		position: relative;
		transition: all ease 0.2s;
	}
}
.header {
    color: var(--clr-light);
    margin-bottom: 4rem;
    z-index: 99;
    font-weight: 300;
    line-height: 25px;
    .header-main-panel {
        display: flex;
        padding: 12px 0 12px 0;
    }
    .logo-wrap {
        width: 97px;
        flex-shrink: 0;
    }
    .contacts-wrap {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
    }
    .cnt-wrap {
        padding: 0 0 0 4.6rem;
        text-align: right;
        display: flex;
    }
    .cnt-title {
        font-size: 1em;
        line-height: inherit;
        font-weight: bold;
        text-transform: uppercase;
    }
    .cnt-address {
        opacity: 0.6;
        padding: 0 22px 0 0;
    }
    .cnt-phone {
        font-size: (20/18em);
        display: flex;
        align-items: center;
        font-weight: 400;
        justify-content: flex-end;
    }
    .link-phone {
        margin-left: 12px;
        flex-shrink: 0;
        &:first-child {
            margin-left: 0;
        }
    }
    .button-message {
        width: 22px;
        height: 22px;
        flex-shrink: 0;
        margin: 0 0 0 5px;
        &:first-child {
            margin-left: 0;
        }
    }
    a {
        &:not(.btn) {
            color: inherit;
            &:hover {
                color: #fff;
                opacity: 1;
            }
        }
    }
}
.footer {
    overflow: hidden;
}
.footer-main-panel {
    display: flex;
    min-height: 47rem;
    color: #fff;
    font-weight: 300;
    .info-inner-wrap {
        width: 63.7rem;
        flex-shrink: 0;
        padding: 3rem 8.5rem 0 0;
    }
    .map-inner-wrap {
        flex: 1;
        position: relative;
        overflow: hidden;
        display: block;
        background: #ccc;
        max-width: calc(100% - 63.7rem);
    }
    .h1-title {
        margin: 0 0 0.9em 0;
    }
    .cnt-wrap {
        margin-bottom: 4rem;
        &:last-child {
            padding-right: 24rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
        img {
            display: inline-block;
            vertical-align: middle;
            max-width: 8rem;
            max-height: 4.5rem;
            margin: 15px 15px 0 0;
        }
    }
    .soc-wrap {
        display: flex;
        justify-content: flex-end;
        margin-top: -5.2rem;
    }
    .cnt-title {
        font-weight: bold;
        margin-bottom: 0.8em;
        padding-left: 24px;
        position: relative;
        .elm-ico {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -11px;
        }
    }
    .cnt-sep {
        display: inline;
        color: var(--clr-att);
        margin: 0 0.5em 0 0.3em;
    }
    a {
        &:not(.btn) {
            color: inherit;
            &:hover {
                color: var(--clr-att);
            }
        }
    }
    .button-soc {
        width: 6rem;
        height: 6rem;
        flex-shrink: 0;
        margin: 0 0 0 15px;
        z-index: 5;
    }
}
.footer-bottom-panel {
    display: flex;
    justify-content: space-between;
    color: #4e4e52;
    font-weight: 300;
    padding: 24px 0;
    margin: 0 -15px;
    .info-wrap {
        min-width: 240px;
        padding: 0 15px;
        text-align: center;
        &:first-child {
            text-align: left;
        }
        &:last-child {
            text-align: right;
        }
    }
    a {
        color: inherit;
        &:hover {
            color: var(--clr-att);
        }
    }
}
.logo {
    display: block;
    position: relative;
    overflow: hidden;
    line-height: 1;
    text-decoration: none;
    width: 100%;
    letter-spacing: normal;
    font-weight: 400;
    &:hover {
        text-decoration: none;
    }
    img {
        display: block;
        width: 100%;
    }
}
@media (max-width: 1399px) {
    .header {
        font-size: 16px;
    }
}
@media (max-width: 1199px) {
    .header {
        .cnt-wrap {
            padding-left: 30px;
        }
        .cnt-address {
            p {
                font-size: 12px;
                line-height: 14px;
                padding-top: 8px;
            }
        }
    }
}
@media (max-width: 1023px) {
    .menu-show {
        overflow: hidden;
    }
    .header {
        .header-main-panel {
            padding: 12px 0;
        }
        .contacts-wrap {
            display: none;
        }
    }
    .header-nav-panel {
        width: 40px;
        height: 40px;
        z-index: 20;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -20px;
        font-weight: 400;
        .btn-popup {
            display: block;
        }
        .btn-popup-close {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 10;
        }
        .action-wrap {
            margin-bottom: 30px;
        }
        .menu-wrap {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 30px;
            a {
                display: block;
                padding: 5px 15px;
                &:hover, &.active {
                    color: var(--clr-att-hover);
                }
            }
        }
        .menu-content-block {
            display: none;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to top, #121419, #1d1d22);
            z-index: 30;
            text-align: center;
            padding: 40px 0;
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }
        .contacts-wrap {
            display: block;
        }
        .cnt-wrap {
            display: block;
            width: 100%;
            text-align: center;
            padding: 0 15px;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .cnt-address {
            padding: 0;
            margin-bottom: 10px;
        }
        .cnt-phone {
            padding: 0;
            justify-content: center;
        }
    }
}
@media (min-width: 640px) and (max-width: 1023px) {
    .footer-main-panel {
        .info-inner-wrap {
            width: 40rem;
            padding-right: 30px;
        }
        .map-inner-wrap {
            max-width: calc(100% - 40rem);
        }
        .soc-wrap {
            margin: 30px 0 0 -15px;
            justify-content: flex-start;
        }
        .cnt-wrap {
            &:last-child {
                padding-right: 0;
            }
        }
    }
}
@media (min-width: 1024px) {
    .header-nav-panel {
        font-weight: 400;
        display: block;
        .menu-content-block {
            display: flex;
            align-items: center;
        }
        .contacts-wrap, .btn-popup, .btn-popup-close {
            display: none;
        }
        .action-wrap {
            flex-shrink: 0;
        }
        .menu-wrap {
            flex: 1;
            .menu {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -2.6rem;
            }
            li {
                flex-shrink: 0;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    width: 4px;
                    height: 4px;
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    margin-left: -2px;
                    margin-top: -2px;
                    border-radius: 50%;
                    background: var(--clr-bg);
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
            a {
                display: block;
                height: 26px;
                line-height: 26px;
                white-space: nowrap;
                padding: 0 2.6rem;
                position: relative;
                &:hover, &.active {
                    color: var(--clr-bg);
                }
            }
        }
        .btn {
            height: 52px;
        }
    }
}
@media (max-width: 767px) {
    .wrap {
        &.wrap-card {
            &:before {
                display: none;
            }
        }
    }
    .footer-bottom-panel {
        display: block;
        .info-wrap {
            width: 100%;
            min-width: 0;
            text-align: center;
            margin-bottom: 15px;
            &:first-child {
                text-align: center;
            }
            &:last-child {
                margin-bottom: 0;
                text-align: center;
            }
        }
    }
    
}
@media (max-width: 639px) {
    .header {
        .logo-wrap {
            width: 70px;
        }
    }
    .footer-main-panel {
        display: block;
        min-height: 0;
        .info-inner-wrap {
            padding-right: 0;
            width: 100%;
        }
        .map-inner-wrap {
            width: 100%;
            max-width: 100%;
            height: 40rem;
            margin-top: 4rem;
        }
    }
}
@media (max-width: 479px) {
    .footer-main-panel {
        .cnt-wrap {
            &:last-child {
                padding-right: 0;
            }
        }
        .soc-wrap {
            justify-content: flex-start;
            margin: 30px 0 0 -15px;
        }
    }
}
@media (min-width: 1920px) {
    .wrap {
        &.wrap-catalog, &.wrap-price {
            &:before {
                width: 100%;
                left: 0;
                right: 0;
                margin: 0;
            }
        }
    }
}