
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-main-panel">
			<div class="info-inner-wrap">
				<div class="h1-title">Контакты</div>
				<div class="contacts-wrap">
					<div class="cnt-wrap">
						<div class="cnt-title">
							Адрес:
							<div class="elm-ico">
								<img src="./img/icons/location.png" alt="">
							</div>
						</div>
						<p>г. Саратов, пр-т Энтузиастов 50</p>
					</div>
					<div class="cnt-wrap">
						<div class="cnt-title">
							Телефон:
							<div class="elm-ico">
								<img src="./img/icons/phone.png" alt="">
							</div>
						</div>
						<p>
							<a href="tel:460112" class="link-phone">46-01-12</a>
							<span class="cnt-sep">/</span>
							<a href="tel:89371427319" class="link-phone">+79371427319</a>
						</p>
					</div>
					<div class="cnt-wrap">
						<div class="cnt-title">
							Оплата:
							<div class="elm-ico">
								<img src="./img/icons/pay.png" alt="">
							</div>
						</div>
						<p>Принимаем к оплате</p>
						<p>
							<img src="./img/icons/pay01.png" alt="">
							<img src="./img/icons/pay02.png" alt="">
						</p>
					</div>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc01.png" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc02.png" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc03.png" alt="">
					</a>
				</div>
			</div>
			<div class="map-inner-wrap">
				<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=-eov8YMYfEHTrqs_Q1kKzkBJYs6HKSuT&width=100%25&height=100%25&lang=ru_RU&sourceType=constructor"></script>
			</div>
		</div>
		<div class="footer-bottom-panel">
			<div class="info-wrap">2023</div>
			<div class="info-wrap">
				<a href="" class="link-main">Политика конфиденциальности</a>
			</div>
			<div class="info-wrap">
				<a href="">Создание сайта</a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->


<div class="popup-outer-box" id="popup-order">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<img src="./img/popup.jpg" alt="" class="img-bg-cover">
			<div class="popup-form-wrap">
				<form action="/" class="frm-popup">
					<div class="frm-title-wrap">
						<div class="frm-title">Забронировать мастера</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
					</div>
					<div class="frm-inner">
						<div class="frm-row">
							<div class="frm-field-input inp-valid">
								<div class="field-title"><div class="field-title-text">Как к вам обращаться?</div></div>
								<input type="text" class="form-input" placeholder="Иван Иванов" value="Иван Иванов">
								<div class="frm-ico">
									<img src="./img/icons/frm-user.png" alt="">
								</div>
							</div>
						</div>
						<div class="frm-row">
							<div class="frm-field-input">
								<div class="field-title"><div class="field-title-text">Ваш телефон:</div></div>
								<input type="tel" class="form-input" placeholder="+7 000 00-00-00">
								<div class="frm-ico">
									<img src="./img/icons/frm-phone.png" alt="">
								</div>
							</div>
						</div>
						<div class="frm-row">
							<div class="frm-field-input">
								<div class="field-title"><div class="field-title-text">Сумма депозита:</div></div>
								<input type="text" class="form-input" placeholder="5 000 руб.">
								<div class="frm-ico">
									<img src="./img/icons/frm-pay.png" alt="">
								</div>
							</div>
						</div>
						<div class="frm-row-submit">
							<div class="frm-field field-submit">
								<button type="submit" class="btn button-gold">Оплатить</button>
							</div>
							<div class="frm-field field-info">Даю согласие на обработку своих <a href="" class="link-main">персональных данных</a></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->