
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="header-main-panel">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.png" alt="">
				</a>
			</div>
			<div class="contacts-wrap">
				<div class="cnt-wrap">
					<div class="cnt-address">
						<div class="cnt-title">Заводской</div>
						<p>г. Саратов, пр-т Энтузиастов 50</p>
					</div>
					<div class="cnt-phones">
						<div class="cnt-phone">
							<a href="tel:88452460112" class="link-phone">+7 (8452) 46-01-12</a>
						</div>
						<div class="cnt-phone">
							<a href="" class="btn-action-ico button-message">
								<img src="./img/icons/viber.png" alt="">
							</a>
							<a href="" class="btn-action-ico button-message">
								<img src="./img/icons/whatsapp.png" alt="">
							</a>
							<a href="tel:89371427319" class="link-phone">+7 937 142 73 19</a>
						</div>
					</div>
				</div>
				<div class="cnt-wrap">
					<div class="cnt-address">
						<div class="cnt-title">центр</div>
						<p>г. Саратов, Т.Г. Шевшенко 38/48</p>
					</div>
					<div class="cnt-phones">
						<div class="cnt-phone">
							<a href="tel:88452460101" class="link-phone">+7 (8452) 46-01-01</a>
						</div>
						<div class="cnt-phone">
							<a href="" class="btn-action-ico button-message">
								<img src="./img/icons/viber.png" alt="">
							</a>
							<a href="" class="btn-action-ico button-message">
								<img src="./img/icons/whatsapp.png" alt="">
							</a>
							<a href="tel:89378060100" class="link-phone">+7 937 806 01 00</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-nav-panel js-popup-wrap">
			<a href="" class="btn-action-ico ico-menu btn-popup js-btn-toggle"></a>
			<div class="menu-content-block js-popup-block">
				<a href="" class="btn-action-ico ico-close js-btn-close btn-popup-close"></a>
				<div class="menu-wrap">
					<ul class="menu">
						<li><a href="">Главная</a></li>
						<li><a href="">Прайс</a></li>
						<li><a href="">Мастера</a></li>
						<li><a href="">Акции</a></li>
						<li><a href="">Интерьер</a></li>
						<li><a href="">Вакансии</a></li>
					</ul>
				</div>
				<div class="action-wrap">
					<a href="" class="btn">Купить сертификат</a>
				</div>
				<div class="contacts-wrap">
					<div class="cnt-wrap">
						<div class="cnt-address">
							<div class="cnt-title">Заводской</div>
							<p>г. Саратов, пр-т Энтузиастов 50</p>
						</div>
						<div class="cnt-phones">
							<div class="cnt-phone">
								<a href="tel:88452460112" class="link-phone">+7 (8452) 46-01-12</a>
							</div>
							<div class="cnt-phone">
								<a href="" class="btn-action-ico button-message">
									<img src="./img/icons/viber.png" alt="">
								</a>
								<a href="" class="btn-action-ico button-message">
									<img src="./img/icons/whatsapp.png" alt="">
								</a>
								<a href="tel:89371427319" class="link-phone">+7 937 142 73 19</a>
							</div>
						</div>
					</div>
					<div class="cnt-wrap">
						<div class="cnt-address">
							<div class="cnt-title">центр</div>
							<p>г. Саратов, Т.Г. Шевшенко 38/48</p>
						</div>
						<div class="cnt-phones">
							<div class="cnt-phone">
								<a href="tel:88452460101" class="link-phone">+7 (8452) 46-01-01</a>
							</div>
							<div class="cnt-phone">
								<a href="" class="btn-action-ico button-message">
									<img src="./img/icons/viber.png" alt="">
								</a>
								<a href="" class="btn-action-ico button-message">
									<img src="./img/icons/whatsapp.png" alt="">
								</a>
								<a href="tel:89378060100" class="link-phone">+7 937 806 01 00</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->